<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>
<body>
      <div class="f">
            We have completed 10+ events in Maharashtra
        </div>
        <div class="ft">
            <p class="description"> Wedding Planners<br />Your Love,Our Artistry.<br /><span
                    class="description-f">Embark on a journey with us,where every vow finds its perfect melody.<br /> We
                    redefine weddings,passion into planning and precision into execution.<br />Let's craft an experience
                    that mirror's your uniqueness.</span></p>
            <div class="address">
                <ul type="circle">
                    <img src="static/icon/maps.png" height="20px"
                        style="background-color: #F8EBCF; border-radius: 16px;" />&nbsp;&nbsp;Address
                    <li><a href="https://maps.app.goo.gl/ckwQWGCd7CBSqVMQ8" target="_blank" class="mp">Mumbai </a></li>
                    <li><a href="https://maps.app.goo.gl/jGjvwSM56KvTT9Wb8" target="_blank" class="mp">Nashik </a></li>
                    <li><a href="https://maps.app.goo.gl/HJZoASPpyNCQho6U8" target="_blank" class="mp">Pune </a></li>
                    <li><a href="https://maps.app.goo.gl/ckwQWGCd7CBSqVMQ8" target="_blank" class="mp">Goa </a></li>
                    <li><a href="https://maps.app.goo.gl/ckwQWGCd7CBSqVMQ8" target="_blank" class="mp">Satara </a></li>
                    <li><a href="https://maps.app.goo.gl/ckwQWGCd7CBSqVMQ8" target="_blank" class="mp">Kolhapur</a></li>

                </ul>
            </div>
            <div class="call-us">
                <ul type="circle">
                    <img src="static/icon/call.png" height="20px"
                        style="background-color: #F8EBCF; border-radius: 16px;" />&nbsp;&nbsp;Call-us
                    <li><a href="tel:8275444939" target="_blank" class="cnt">+91 8275444939</a></li>
                    <li><a href="tel:9421486154" target="_blank" class="cnt">+91 9421486154</a></li>
                    <li><a href="tel:9766575428" target="_blank" class="cnt">+91 9766575428</a></li>
                </ul>
            </div>
            <div class="mail">
                <ul type="circle">
                    <img src="static/icon/email.png" height="20px"
                        style="background-color: #F8EBCF; border-radius: 16px;" />&nbsp;&nbsp;Email us
                    <li><a href="mailto:onkarsutar4939@gmail.com" target="_blank"
                            class="ml">onkarsutar4939@gmail.com</a></li>
                    <li><a href="mailto:onkarsutar4939@gmail.com" target="_blank" class="ml">onkarsutar@gmail.com</a>
                    </li>
                    <li><a href="mailto:onkarsutar4939@gmail.com" target="_blank" class="ml">sasnkettippe.org</a></li>
                </ul>
            </div>
        </div>
        <div class="ft2">
            Copyright &copy; All Rights Reserved to G18-ICP7.0
        </div>
</body>
</html>