<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/header.css">

    <title>Header</title>
</head>
<body>
    <div id="dw1">
        <p id="cross" onclick="exit()">X</p>
        <ul id="dw2">
            <a href="/">
                <li class="name1">Home</li>
            </a>
            <hr>
            <a href="/aboutpage">
                <li class="name1">About-us</li>
            </a>
            <hr>
            <a href="/contactus">
                <li class="name1">Contact-us</li>
            </a>
            <hr>
            <a href="/categary">
                <li class="name1">Category</li>
            </a>
            <hr>
            <a href="/pages/sign_in_page">
                <li class="name1">Sign-In</li>
            </a>
            <hr>
            <a href="/pages/order_book_page">
                <li class="name1">Book Your Order</li>
            </a>
            <hr>
        </ul>
    </div>

    <nav class="navbar">

            <svg xmlns="http://www.w3.org/2000/svg" class="drw" id="dw" onclick="drawer()" width="50" height="50"
                style="color: aliceblue; margin:0px 10px;" fill="currentColor" class="bi bi-menu-button-wide-fill"
                viewBox="0 0 16 16">
                <path
                    d="M1.5 0A1.5 1.5 0 0 0 0 1.5v2A1.5 1.5 0 0 0 1.5 5h13A1.5 1.5 0 0 0 16 3.5v-2A1.5 1.5 0 0 0 14.5 0zm1 2h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1m9.927.427A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5" />
            </svg>
            <img src="static/icon/logo.png" alt="Company logo" class="logo" /><span class="brand-name">Wedding
                Planners</span>
            <ul>
                <a href="/" class="nav-n">
                    <li class="name">Home</li>
                </a>
                <a href="/aboutpage" class="nav-n">
                    <li class="name">About-us</li>
                </a>
                <a href="/contactus" class="nav-n">
                    <li class="name">Contact-us</li>
                </a>
                <a href="/categary" class="nav-n">
                    <li class="name">Category</li>
                </a>
                <a href="/signIn" class="nav-n">
                    <li class="name">Sign-In</li>
                </a>
                <a href="/OrderBookPage" class="nav-n">
                    <li class="name">Book Your Order</li>
                </a>
            </ul>
        </nav>
       
        <script src="static/script.js">

        </script>
</body>
</html>